<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mojota.succulent">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".SucculentApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme_NoActionBar">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme_With_Bg">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DiaryAddActivity"
            android:theme="@style/AddDataDialog">
        </activity>
        <activity
            android:name=".activity.LandscapingAddActivity"
            android:theme="@style/AddDataDialog">
        </activity>
        <activity
            android:name=".activity.QaAskActivity"
            android:theme="@style/AddDataDialog"/>
        <activity android:name=".activity.ImageBrowserActivity">
        </activity>
        <activity android:name=".activity.DiaryDetailActivity"/>
        <activity
            android:name=".activity.QaDetailActivity"
            android:configChanges="keyboardHidden|orientation"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/str_login">
        </activity>
        <activity
            android:name=".activity.FeedbackActivity"
            android:label="@string/str_feedback"/>
        <activity
            android:name=".activity.UserEditActivity"
            android:label="@string/str_user_edit">
        </activity>
        <activity android:name=".activity.SettingsActivity"
            android:label="@string/str_settings">
        </activity>
    </application>

</manifest>